@import url(./font.css);
:root {
  --header-height: 3rem;
  /*====colors===*/
  --hue-color:142 ;

  /*HSL color mode*/
  --first-color: hsl(var(--hue-color),69%,61%);
  --first-color-second: hsl(var(--hue-color),69%,61%);
  --first-color-alt: hsl(var(--hue-color),57%,53%);
  --first-color-lighter: hsl(var(--hue-color),92%,85%);
  --title-color: hsl(var(--hue-color),8%,15%);
  --text-color: hsl(var(--hue-color),8%,45%);
  --text-color-lighter: hsl(var(--hue-color),8%,65%);
  --input-color: hsl(var(--hue-color),70%,96%);
  --body-color: hsl(var(--hue-color),60%,99%);
  --container-color: #fff;

  /*fonts*/
  --body-font: "Roboto", cursive;
  --title-font: "BerkshireSwash",serif;
  --other-font:"Lateef",serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .948rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*font weight*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*z-index*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  }

  /*font size for large devices*/

@media screen and(min-width: 968px){
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* dark theme */
.change-theme {
  font-size: 1.25rem;
  color:var(--title-color);
  margin-right: 1.25rem;
  cursor: pointer;
}
.change-theme:hover {
  color:var(--first-color);
}
/*base*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.dark-theme {
  --first-color-second: hsl(var(--hue-color),30%, 8%);
  --title-color: hsl(var(--hue-color),8%,95%);
  --text-color: hsl(var(--hue-color),8%,75%);
  --input-color: hsl(var(--hue-color),29%,16%);
  --body-color: hsl(var(--hue-color),28%,12%);
  --container-color:hsl(var(--hue-color),29%,16%);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  /* height: auto; */
}

/*reusable class*/

/*.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--body-color);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/
#header nav .logo {
  font-size:40px !important;
  color:#fff;
}
#header nav {
  /* background-color: var(--first-color); */
  font-family: var(--body-font);
}
.form-search {
  color:var( --input-color);
}
.btn-search {
  position: relative;
  background-clip: padding-box;
  border:3px solid #fff;
  color:#fff;
  border-radius: 4px;
}
.btn-search:hover{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
  border:3px solid transparent;
}
.nav_item {
  /* padding: .5rem 1rem; */
  border:2px solid white;
  margin-left: 1.5rem;
}

.button {
  padding: .8rem 2.2rem;
  font:normal 500 13px/15px var(--body-font);
  position: relative;
  border:3px solid transparent;
  border-radius: 4px;
}
.button.primary-button{
  background: var(--first-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background .6s ease;
  box-shadow:0 10px 30px rgba(57,56,61,0.205);
}
.button.primary-button:hover{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}
.button.primary-button::after,.button.secondary-button::after {
  position: absolute;
  top:-2px;
  left:-2px;
  bottom:-2px;
  right:-2px;
  background: var(--first-color);
  content:"";
  z-index: -1;
  border-radius: 4px;
}
.button.secondary-button{
  background: whitesmoke;
  background-clip: padding-box;
  transition: background .6s ease;
}
.button.secondary-button:hover{
  background: var(--first-color);
  color: whitesmoke;
  box-shadow: 0 10px 30px rgba(57,56,61,0.205);
}

/* POSTS */

.post-container {
  box-shadow: 0 10px 30px rgba(57,56,61,0.205);
  position: relative;
  overflow: hidden;
  /* height: 230px; */
}
.title-content {
  font-size:.725rem;
  font-weight: 100;
  font-style: italic;
}
.category {
  font-size:.725rem;
  font-weight: bolder;
  color:black;
  /* font-style: italic; */
}

/* CREATE A POST */
.create-body {
  height:200px;
  resize:none;
}


/* JOURNALISTS */
.img-content{
  height:100px;
}


